<%= link_to "All Authors", authors_path %>

<br>
<br>

 <h2><%= (@author.first_name + " " + @author.last_name) %></h2>
    <%= link_to "Add New Book", new_author_book_path(@author) %>
<br>
<br>


 <h2><%= link_to "Books" , author_books_path(@author) %></h2>

<ul>
    <% @books.each do |book| %>
        <li class="row">
            <strong>
                <%= book.name %>, <%= book.published %>
                
            </strong>
            <br>
            <em>
            <%= book.genre %>, pages: <%= book.pages %>
            </em>
            <br>
            <br>
    
                 <%= link_to "Edit Book", edit_author_book_path(@author, book) %>
                &nbsp; | &nbsp;
                <%= link_to "Delete Book", author_book_path(@author, book),
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete #{(book.name)}"
                    }
                 %>
                    <br>
            <br>
        </li>
    <% end %>
</ul>