<%= link_to "All Authors", authors_path %>

<br>
<br>

 <td><%= (@author.first_name + " " + @author.last_name) %></td>


<% if false %>
    <%= link_to "Add New Book", new_author_book_path(@author) %>
<% end %> 

<br>
<br>

<h3>Books:</h3>
<ul>
    <% @books.each do |book| %>
        <li class="row">
            <strong>
                <%= book.name %>, <%= book.published %>
            </strong>
            <br>
            <em>
            <%= book.genre %>, pages: <%= book.pages %>
            </em>
            <br>
            <br>
        </li>
    <% end %>
</ul>