<%= link_to "Back to Author", author_path(@author) %>

<h2>All Books for:  <%= (@author.first_name + " " + @author.last_name) %> </h2>


<ul>
    <% @books.each do |book| %>
        <li class="row">
            <strong>
            <%= link_to (book.name), author_book_path(@author, book) %>
            </strong> -
            
            <%= book.published %>
        
            <br>
            <em>
            <%= book.genre %>, <%= book.pages %> pages
            </em>
            <br>
            <br>
        </li>
    <% end %>
</ul>